In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/twitter_training.csv',header=None,nrows=30000)

In [3]:
df.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [4]:
df.tail()

,0,1,2,3
29995,757,ApexLegends,Positive,More exciting gameplay from Apex Legends in le...
29996,757,ApexLegends,Positive,More exciting game Apex Legends in Rating Mode...
29997,757,ApexLegends,Positive,More exciting Apex Legends coming in Ranked ma...
29998,757,ApexLegends,Positive,More exciting Apex Legends gameplay in The Ran...
29999,757,ApexLegends,Positive,More exciting Apex 8 gameplay in Ranked Star. ...

In [5]:
df.columns

Index([0, 1, 2, 3], dtype='int64')

In [6]:
df.iloc[:3,2:].head(3).values

array([['Positive',
        'im getting on borderlands and i will murder you all ,'],
       ['Positive',
        'I am coming to the borders and I will kill you all,'],
       ['Positive', 'im getting on borderlands and i will kill you all,']],
      dtype=object)

In [7]:
df.dtypes

0     int64
1    object
2    object
3    object
dtype: object

In [8]:
df.shape

(30000, 4)

In [9]:
#check for null values
df.isnull().sum()

0      0
1      0
2      0
3    262
dtype: int64

In [10]:
#classes in target variable
df[2].value_counts()

2
Positive      9552
Neutral       7704
Negative      7482
Irrelevant    5262
Name: count, dtype: int64

In [11]:
df[2].head(5000).value_counts()

2
Positive      1938
Neutral       1166
Negative      1056
Irrelevant     840
Name: count, dtype: int64

In [12]:
df_p=df[df[2]=='Positive'].head(1000)

In [13]:
test=df.sample(5)

In [14]:
test.head()

,0,1,2,3
28264,464,ApexLegends,Positive,I am willing to fucking spend money on Apex Le...
27789,1185,AssassinsCreed,Negative,@assassinscreed ok just break my heart and mak...
7267,9250,Overwatch,Negative,Dear @ PlayOverwatch is that a normal game in ...
4251,1932,CallOfDutyBlackopsColdWar,Positive,Wow
11504,13177,Xbox(Xseries),Negative,Where is everyone sayin how big the xbox was a...