In [29]:
import pandas as pd

In [30]:
df=pd.read_csv('../data/twitter_training.csv',header=None,nrows=15000)

In [31]:
df.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [32]:
df.tail()

,0,1,2,3
14995,2968,Dota2,Negative,Dota Underlords is pretty cool. As a former Do...
14996,2968,Dota2,Negative,Dota Underlords is pretty cool. Being a former...
14997,2968,Dota2,Negative,Dota Underlords is pretty cool. Being a former...
14998,2968,Dota2,Negative,These Dota Underlords is also pretty cool. Bei...
14999,2968,Dota2,Negative,Dota Underlords is seriously cool. Being a hug...

In [33]:
df.columns

Index([0, 1, 2, 3], dtype='int64')

In [34]:
df.iloc[:3,2:].head(3).values

array([['Positive',
        'im getting on borderlands and i will murder you all ,'],
       ['Positive',
        'I am coming to the borders and I will kill you all,'],
       ['Positive', 'im getting on borderlands and i will kill you all,']],
      dtype=object)

In [35]:
df.dtypes

0     int64
1    object
2    object
3    object
dtype: object

In [36]:
df.shape

(15000, 4)

In [37]:
#check for null values
df.isnull().sum()

0      0
1      0
2      0
3    161
dtype: int64

In [38]:
#classes in target variable
df[2].value_counts()

2
Positive      4392
Negative      4368
Neutral       3420
Irrelevant    2820
Name: count, dtype: int64

In [39]:
df[2].head(5000).value_counts()

2
Positive      1938
Neutral       1166
Negative      1056
Irrelevant     840
Name: count, dtype: int64

In [40]:
df_p=df[df[2]=='Positive'].head(1000)

In [41]:
test=df.sample(5)

In [42]:
test.head()

,0,1,2,3
7948,9365,Overwatch,Negative,"Already I lost it, games shit"
11709,8412,NBA2K,Positive,Amazing
1071,2589,Borderlands,Neutral,Borderlands 3 stream after breakfast? Possibly...
9328,12803,Xbox(Xseries),Positive,So completely glad I'll be experiencing
11028,13096,Xbox(Xseries),Positive,youtu.be/O2nNljv0MOw. This game looks amazing ...